@import '/src/styles.scss';

:host {
  display: flex;
  justify-content: space-around;
}
.about-page-wrapper {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  .about-link-block {
    width: 30%;
    padding-top: 20px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        cursor: pointer;
        color: $dark-orange;
      }
    }
  }
  .about-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 15px 0;
    height: calc(100vh - $nav-height);
    @include md-scroll-bar(6px);
    margin: 0;
    li {
      list-style: none;
      width: 70%;
    }
  }
}

